# Miscellaneous ------------------------------------------------------------#

*.bak
*.bat
*.ods
.svn/

# Windows garbage ----------------------------------------------------------#

Desktop.ini
ethumbs.db
Thumbs.db
